{% for project in site.data.projects %}
<table>
            <tr>
                <td class="year">{{ project.year }}</td>
                <td class="info">
                    <strong>
                        {% if project.link %}
                            <a href="{{ project.link }}">{{ project.title }}</a>
                        {% else %}
                            {{ project.title }}
                        {% endif %}
                    </strong>
                    <p>
                        {% if project.media %}
                            <em>{{ project.media }}.</em>
                        {% endif %}
                        {{ project.description }}
                    </p>
                </td>
            </tr>
        </table>
{% endfor %}