<section>
    <div class="left-heading">
        <h2>Work History</h2>
    </div>
    <div class="table-box">
        <table>
            {% for job in site.data.jobs %}
            <tr>
                <td class="year">{{ job.year }}</td>
                <td class="info">
                    <p><strong>{{ job.place }}</strong>, {{ job.title }}{% if job.city %} — {{ job.city }}{% endif %}</p>
                    <p>{{ job.description }}</p>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</section>