$darkMode: true

@mixin darkMode
    @if($darkMode)
        @media(prefers-color-scheme: dark)
            @content
    
@mixin devices ($breakpoint)
    @if $breakpoint == tablet
        @media only screen and (max-width: 680px)
            @content

    @if $breakpoint == mobile
        @media only screen and (max-width: 481px)
            @content

html
    font-size: 13px
    line-height: 1.6
    font-family: monospace
    background-color: pink

    @include darkMode
        color: pink
        background-color: black

hr
    border-top: 1px dashed black
    border-bottom: 0

    @include darkMode
        border-top: 1px dashed pink

a
    color: inherit

a:hover
    text-decoration: none

body
    padding: 4%

article
    width: 40%

    @include devices(tablet)
        width: 80%

    @include devices(mobile)
        width: 90%

    h1
        text-transform: uppercase

    p, ul
        margin: 3em 0

    ul
        list-style-type: none
        padding: 0

    h1, h2
        font-size: 1em
        margin: 0

    h3
        font-size: 1em
        margin: 2em 0 1em

header
    margin-bottom: 5%

footer
    margin-top: 5%

section
    width: 100%

    h1, h2, h3, h4, h5, h6
        font-size: 1em

    h2, h3, h4, h5, h6
        font-weight: normal
        margin: 2em 0 1em
        opacity: .6

    h2::before
        content: '## '

    h3::before
        content: '### '

    h4::before
        content: '#### '

    h5::before
        content: '##### '

    h6::before
        content: '###### '

h1
    margin: 0
    font-size: 1em

.left-heading
    display: block

.table-box
    width: 80%
    float: right

table
    width: 100%
    margin: 0
    padding: 0

td
    vertical-align: top
    padding-bottom: 1em

.year
    width: 10%

.info
    width: 90%
    padding: 0

    ol
      columns: 3
      -webkit-columns: 3
      -moz-columns: 3
      list-style-type: none
      margin: 0
      padding: 0
