<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ '/assets/styles.css' | relative_url }}">
     <title>
        {% if page.title %}
            {{ page.title }}
        {% else %}
            {{ site.title }}
        {% endif %}
    </title>
</head>
<body>
    <article>
        {{ content }}

        <ul>
            {% for post in site.posts %}
            <li><a href="{{ post.url | relative_url }}">{{ post.date | date: "%F" }}: {{ post.title }}</a></li>
            {% endfor %}
        </ul>
    </article>
</body>
</html>